/* Bashar */
.bashar {
  color: red;
}
/* Darell */

/* Ehsan */

.Ehsan {
    color:black;
    align-items: center;
}

/* Gianni */
.Gianni{
    color: lightblue;
}
/* Hari */

/* Jennifer */

/* Kateryna */

/* Kevin */

/* Mammon */

/* Nita */

/* Pranita */

/* Renata */

/* Sona */

/* Stefan */

/* Vaishali */
